<svg class="category-icon-sprite" aria-hidden="true">
  <symbol id="category-icon-place" viewBox="0 0 24 24"><path d="M12 21s6-5.2 6-11a6 6 0 1 0-12 0c0 5.8 6 11 6 11Z"/><circle cx="12" cy="10" r="2"/></symbol>
  <symbol id="category-icon-restaurant" viewBox="0 0 24 24"><path d="M5 3v6a3 3 0 0 0 6 0V3M8 3v18M17 3v18M14 3v7h3"/></symbol>
  <symbol id="category-icon-cafe" viewBox="0 0 24 24"><path d="M4 8h13v6a5 5 0 0 1-5 5H9a5 5 0 0 1-5-5V8ZM17 10h2a2 2 0 0 1 0 4h-2M6 3v2M10 3v2M14 3v2"/></symbol>
  <symbol id="category-icon-shop" viewBox="0 0 24 24"><path d="M5 8h14l-1 13H6L5 8ZM9 10V6a3 3 0 0 1 6 0v4"/></symbol>
  <symbol id="category-icon-sightseeing" viewBox="0 0 24 24"><path d="M4 7h4l2-3h4l2 3h4v12H4V7Z"/><circle cx="12" cy="13" r="4"/></symbol>
  <symbol id="category-icon-park" viewBox="0 0 24 24"><path d="M12 3 7 10h3l-4 6h12l-4-6h3l-5-7ZM12 16v5"/></symbol>
  <symbol id="category-icon-museum" viewBox="0 0 24 24"><path d="m3 9 9-5 9 5M5 10v8M9 10v8M15 10v8M19 10v8M3 20h18"/></symbol>
</svg>
